@model Reviewer.Models.Data.KhachHang

@{
    ViewData["Title"] = "Sua2";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa Độc Giả</h2>
<hr />
@using (Html.BeginForm("Sua2", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Sua1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div hidden="hidden" class="form-group">
                    <label asp-for="MaKh" class="control-label"></label>
                    <input asp-for="MaKh" class="form-control" />
                    <span asp-validation-for="MaKh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoTenKh" class="control-label">Họ tên Khách Hàng</label>
                    <input asp-for="HoTenKh" class="form-control" />
                    <span asp-validation-for="HoTenKh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsernameKh" class="control-label"></label>
                    <input asp-for="UsernameKh" class="form-control disabled" />
                    <span asp-validation-for="UsernameKh" class="text-danger"></span>
                </div>
                <div hidden="hidden" class="form-group">
                    <label asp-for="PassKh" class="control-label"></label>
                    <input asp-for="PassKh" class="form-control" />
                    <span asp-validation-for="PassKh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailKh" class="control-label">Email Khách Hàng</label>
                    <input asp-for="EmailKh" class="form-control" />
                    <span asp-validation-for="EmailKh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvatarKh" class="control-label">Avatar Khách Hàng</label>
                    <input asp-for="AvatarKh" class="hidden" />
                    <img src="~/Img/Customer/@Model.AvatarKh" class="w-75" />
                    <input name="fHinh" type="file" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a asp-action="QLKhachHang">Back to List</a>
</div>

