@model Reviewer.Models.Data.ChuyenMuc

@{
    ViewData["Title"] = "Sửa Mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa Chuyên Mục</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaMuc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden="hidden" class="form-group">
                <label asp-for="MaMuc" class="control-label"></label>
                <input asp-for="MaMuc" class="form-control" />
                <span asp-validation-for="MaMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenMuc" class="control-label">Tên Mục</label>
                <input asp-for="TenMuc" class="form-control" />
                <span asp-validation-for="TenMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhChuyenMuc" class="control-label">Mục</label>
                <input asp-for="HinhChuyenMuc" class="form-control" />
                <span asp-validation-for="HinhChuyenMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QLChuyenMuc">Back to List</a>
</div>

