@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Thêm Yêu Cầu Rút Tiền</button>
@using (Html.BeginForm("ThemTranfer", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm quản trị </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputText">Mã Reviewer</label>
                                <input type="number" name="MaReviewer" class="form-control" id="inputText" placeholder=" Nhập mã reviewer">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputText">Email Ngân Lượng </label>
                                <input type="email" name="EmailNl" class="form-control" id="inputText" placeholder="Nhập email nhận tiền">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputText">Số Tiền Muốn Rút </label>
                                <input type="number" name="SoTien" class="form-control" id="inputText" placeholder="Số Tiền">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputText">Tình Trạng </label>
                                <input type="text" name="TinhTrang" class="form-control" id="inputText" placeholder="Tình Trạng">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputText">Ngày Giờ </label>
                                <input type="datetime" name="NgayGio" class="form-control" id="inputText">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
}