<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 10px">Thêm</button>
@using (Html.BeginForm("ThemAd", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm quản trị </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">UserName</label>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="UsernameAd" aria-describedby="basic-addon1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="PasswordAd">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">FullName</label>
                        <input type="text" class="form-control" placeholder="FullName" aria-label="FullName" aria-describedby="basic-addon1" name="FullnameAd">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="EmailAd">
                    </div>
                    <div class="group">
                        <label for="recipient-name" class="col-form-label">Avatar</label>
                        <input type="file" name="AvatarAd" id="fileToUpload">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>


