
@{
    ViewData["Title"] = "Về Website của chúng tôi";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="breadcumb_common_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_left">
                    <p>@ViewData["Title"]</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_right">
                    <ul>
                        <li><a href="">Trang Chủ</a> /</li>
                        <li><a href="">@ViewData["Title"]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about_main">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="doing_what">
                                <h2>Nhóm LBT TEK đang và sẽ làm gì???</h2>
                                <p>
                                  Với sự đề cao sáng tạo của nhóm và đặt mục tiêu tiêu chí cho khách hàng có cái nhìn khách quan về mặt hàng muốn mua, nên nhóm đã nắm bắt được tâm lý khách hàng nên đã lập ra website này để đánh giá các loại sản phẩm về công nghệ chi tiết nhất. Trong tương lai, chúng tôi sẽ phát triển thêm chức năng kiếm tiền cho các Reviewer.
                                </p>
                                <div class="read_more_about">
                                    <a href="">Liên Hệ</a>
                                    <a href="">Tìm Hiểu Thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="about_slider">
                                <div id="about_slider_r" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="~/images/about_slide.jpg" alt="" />
                                        </div>
                                        <div class="item">
                                            <img src="~/images/photo 1.png" alt="" />
                                        </div>
                                        <div class="item">
                                            <img src="~/images/photo 2.png" alt="" />
                                        </div>
                                        <div class="item">
                                            <img src="~/images/photo 3.png" alt="" />
                                        </div>
                                        <div class="item">
                                            <img src="~/images/photo 4.png" alt="" />
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#about_slider_r" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right carousel-control" href="#about_slider_r" role="button" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_authors_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="our_authors">
                    <h2>Những Tác Giả đánh giá của chúng tôi</h2>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="single_author_about">
                                    <div class="autor_img"><img src="~/Img/Reviewer/@item.AvatarRe" alt="author1" /></div>
                                    <div class="author_desc">
                                        <div class="author_desc_left">
                                            <h4>@item.FullnameRe</h4>
                                            <p>Người viết</p>
                                        </div>
                                        <div class="author_desc_right">
                                            <ul>
                                                <li><a class="fa fa-facebook" href=""></a></li>
                                                <li><a class="fa fa-twitter" href=""></a></li>
                                                <li><a class="fa fa-google-plus last_one" href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

