
@{
    ViewData["Title"] = "Xác Nhận Rút Tiền";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="alert alert-success">
    <strong>Yêu cầu rút tiền của bạn đã được chúng tôi ghi nhận.</strong> Chúng tôi sẽ chuyển tiền cho bạn trong vòng 24h làm việc.
</div>
<button type="button" class="btn btn-info">@Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home") </button>

